@import url('common.css');

/* header style */
header {
  /* 뒤에 이미지 비치게 하려고 투명도 주기 */
 background: rgba(0, 0, 0, 0.2);
 height: 100px;
 line-height: 100px;
 /* 헤더 상단에 위치 고정 시키기 */
 position: fixed;
 top: 0;
 /* 너비 깨지니 100% 주기 */
 width: 100%;
 /* 모든 부분에 position줘서 가장 위에 올라와
  있어야 하는 것 z-index !! */
 z-index: 9999;
}

header .inner-header {
  /* border: 3px solid red; */
  width: 84%;
  /* 헤더 안에 이너 헤더 마진 주기 */
  margin: 0 auto;
}
header .inner-header .logo {
  /* border: 3px solid violet; */
  float: left;
  /* 로고 너비 줄이기 */
  width: 200px
}
header .inner-header .logo img {
  /* .logo 너비에 img 100% 너비 주기 (딱 맞게) */
  width: 100%;
}

header .inner-header .gnb {
  /* border: 3px solid tomato; */
  float: left;
}
header .inner-header .gnb li {
  /* border: 3px dashed #000; */
  /* 안에 li 왼쪽 수평 배치 시켜주기 */
  float: left;
  margin-right: 80px;
}
header .inner-header .gnb li a {
  /* background: red; */
  /* a 회사소개 등 틀이 작아서 block으로 확보하기 */
  display: block;
  color: white;
  font-size: 16px;
}
header .inner-header .gnb li a:hover {
  color: #ff8342;
}

header .inner-header .tnb {
  /* border: 3px solid navy; */
  /* tnb 오른쪽 수평 배치 시켜주기 */
  float: right;
  color: white;
  font-size: 16px;
}
header .inner-header .tnb li {
  /* tnb 안에 li 왼쪽 수평 배치 시켜주기 */
  float: left;
  margin-right: 25px;
}
/* 위치마다 아이콘 마진과 폰트 크기 주기 */
header .inner-header .tnb li:first-child i,
header .inner-header .tnb li:nth-child(2) i {
  /* border: 3px solid #000; */
  margin-right: 8px;
  font-size: 18px;
}
header .inner-header .tnb li:last-child a {
  border: 1px solid #fff;
  padding: 5px 15px;
  border-radius: 30px;
}
header .inner-header .tnb li:last-child a:hover {
  background: #fff;
  color: #ff8342;
}
header .inner-header .tnb li:last-child i {
  margin-left: 5px;
}

header .inner-header .gnb-mobile {
  display: none;
}
/* //header end */

/* section.main style */
section.main {
  background: url('../img/vis_4.jpg') no-repeat center/cover fixed;
  height: 100vh;
  /* 메인 타이틀에 포지션 걸어주면 부모한테도 걸어두기 */
  position: relative;
}
section.main .main-title {
  /* background: red; */
  color: #fff;
  text-align: center;
  /* 메인 타이틀 중앙 배치 시키기 하나의 공식 set */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px 10px #123;
}
section.main .main-title h2 {
  font-size: 55px;
}
section.main .main-title p {
  font-size: 25px;
  margin: 20px 0;
}
section.main .main-title .view {
  font-size: 15px;
  /* 글자 간격 주기 */
  letter-spacing: 2px;
  
  display: block;
  width: 180px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 8px 0;
  overflow: hidden;
  position: relative;
}
/* view의 복제본 가상 클래스 만들어주기 */
section.main .main-title .view::after {
  content: '';
  /* display: block; */
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  /* 가상 위치 주기 */
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
}
section.main .main-title .view:hover::after {
  width: 100%;
}

/* section > div.tiltle 공통 style */
section .title {
  text-align: center;
}
section .title h2 {
  font-size: 45px;
  color: #111;
  margin-bottom: 5px;
}
section .title p {
  font-size: 18px;
  color: #555
}

/* ul로 싸고 있는 서브 너비 맞춰주기 다 일정해짐 */
section .sub-container {
  /* background: tomato; */
  width: 74%;
  margin: 0 auto;
}

/* section.about style */
section.about {
  margin: 80px 0;
}
section.about ul.sub-container {
  /* background: orange; */
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #ddd;
}
section.about ul.sub-container li {
  float: left;
  /* border: 2px solid #000; */
  width: 33.333%;
  height: 510px;
}
section.about ul.sub-container li a:hover .img-box img {
  transform: scale(1.2);
}
section.about ul.sub-container li .img-box {
  /* border: 1px solid #000; */
  /* 액자에 벗어나는 부분 숨기기 overflow: hidden */
  overflow: hidden;
}
section.about ul.sub-container li .img-box img{
  /* opacity: 0.3; */
  /* 사진 가로 길이 액자에 맞추기 */
  width: 100%;
  transition: 0.6s;
}
section.about ul.sub-container li .text {
  /* border: 1px solid #000; */
  padding: 25px;
}
section.about ul.sub-container li .text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
section.about ul.sub-container li .text p {
  font-size: 16px;
  margin-bottom: 20px;
}
section.about ul.sub-container li .text .more {
  /* 일괄 대문자로 변경 */
  text-transform: uppercase;
  font-weight: 700;
  /* border: 1px solid #000; */
  /* padding:10px; */
  position: relative;
  padding-left: 40px;
}
section.about ul.sub-container li .text .more::before {
  content: '→';
  display: block;
  width: 30px;
  height: 30px;
  background: #ff8342;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -7px;
  text-align: left;
  line-height: 30px;
}

section.innovation {
  /* border: 1px solid #000; */
  margin: 50px 0;
  height: 500px;
}
section.innovation .title {
  /* border: 3px solid #000; */
  padding: 10px 0;
  margin-bottom: 20px;
}
section.innovation .sub-container {
  /* border: 1px solid #000; */
  position: relative;
}
section.innovation .img-box {
  /* border: 1px solid #000; */
  position: relative;
  height:45vh;
  background: no-repeat url('../img/product_1.jpg') center/cover fixed;
}
section.innovation .sub-container .inner {
  /* border: 3px solid #000; */
  background: white;
  position: absolute;
  top: 75%;
  margin-left: 75px;
  width: 80%
  /* text-align: center; */
}
section.innovation .sub-container .inner  h3 {
  /* border: 1px solid #000; */
  padding: 15px 20px;
  font-weight: 700;
}
section.innovation .sub-container .inner div {
  /* border: 1px solid red; */
  padding: 20px 45px;
  background: rgb(43, 39, 39);
}
section.innovation .sub-container .inner p {
  float: left;
  width: 80%;
  line-height: 1.4;
  color: white;
  font-size: 13px;
}
section.innovation .sub-container .inner a {
  width: 20%;
  float: right;
  position: absolute;
  /* border: 1px solid orange; */
  padding: 7px;
  text-align: center;
  background: orange;
  border-radius: 50px;
  color: white;
  font-size: 13px;
  margin-left: 10px;
  width: 10vw;
}

section.me {
  /* border: 1px solid #000; */
  /* background: rgb(255, 241, 241); */
  padding: 20px 0;
  background: url('../img/me.jpg') no-repeat center/cover fixed;
  position: relative;
  float: left;
  height: 800px;
  margin-bottom: 50px;
}
section.me .title p {
  /* border: 1px solid #000; */
  padding-bottom: 40px;
}
section.me .sub-container {
  /* border: 1px solid #000; */
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  /* padding: 20px 20px; */
}

section.me .sub-container li {
  line-height: 1.5;
  padding: 15px 15px;
  /* opacity: 0.5; */
  /* border: 1px solid #000; */
}
section.me .list {
  /* border: 1px solid #000; */
  /* background: url('../img/me.jpg'); */
  /* float: right; */
  /* width: 50%; */
}
section.me .sub-container li {
  /* border: 1px solid #000; */
}
section.me .sub-container li h3 {
  font-size: 16px;
  font-weight: 700;
}
section.me .sub-container li i {
  padding-right: 10px;
}
section.me .sub-container li p {
  padding: 10px 22px;
}
section.me .sub-container li i {
  color: #ff8342;
}
section.me .sub-container li a.more {
  padding-left: 22px;
  font-weight: 900;
}
section #incruit-btn {
  /* border: 1px solid #000; */
  text-align: center;
  /* float: left; */
  margin-top: 20px;
  background: #ff8342;
  padding: 5px 30px;
  color: white;
  font-weight: 700;
  border-radius: 30px;
  position: absolute;
  left: 45%;
}
section.me .list li ul li {
  /* border: 1px solid #000; */
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
section.me .list li ul li em {
  /* border: 3px solid #000; */
  float: left;
  width: 20%;
  font-weight: 900;
}
section.me .list li ul li em::after {
  content: '.';
  display: inline;
  padding-left: 50px;
  color: #ff8342;
  font-size: 20px;
}
section.me .list li ul li p {
  /* border: 1px solid red; */
  float: left;
  width: 80%;
  text-align: left;
}


/* section sns */
section.sns {
  /* border: 3px solid #000; */
}
section.sns ul.sub-container{
  /* border: 1px solid red; */
  margin-top: 30px;
  padding-bottom: 30px;
}
section.sns ul.sub-container li {
  /* border: 1px solid #000; */
  float: left;
  width: 30.5%;
  margin:10px;
}
section.sns ul.sub-container li a{
  /* border: 3px sol
  id #ffef0f; */
  /* float: left; */
  /* width: 100%; */
  /* height: 100%; */
}
section.sns ul.sub-container li a .img-box {
  overflow: hidden;
}
section.sns ul.sub-container li a .img-box img {
  /* width: 100%; */
  height: 200px;
  float: left;
  width: 100%;
}

/* 텍스트 전체 싸고 있는 부분 */
section.sns ul.sub-container li a .bottom {
  /* border: 5px solid green; */
  padding: 25px;
  line-height: 1.5;
  text-align: left;
}
/* 제목 부분 */
section.sns ul.sub-container li a .bottom .color {
  color: #ff8342;
  font-weight: 700;
  font-size: 13px;
}
/* 블라블라 말 있는 부분 */
section.sns ul.sub-container li a .bottom p {
  font-size: 15px;
}
/* 밑에 시간있는 부분 */
section.sns ul.sub-container li a .bottom .time {
  font-size: 10px;
  padding-top: 13px;
  color: gray;
}


/* footer style */
footer {
  border-top: 1px solid #999;
  padding: 30px 0;
}
footer .inner {
  width: 84%;
  margin: 0 auto;
}
footer .inner .ft-logo {
  float: left;
  width: 14%;
}
footer .inner .ft-logo img {
  width: 100%;
}
footer .inner .address {
  float: left;
  margin-left: 100px;
  margin-top: 35px;
}
footer .inner .address li:first-child {
  font-weight: 700;
  margin-bottom: 10px;
}
footer .inner .address li:last-child {
  color: #999;
}

footer .inner .list {
  float: right;
  margin-top: 40px;
}
footer .inner .list li {
  float: left;
  margin-left: 80px;
}
footer .inner .list li:last-child {
  font-weight: 700;
}
footer .inner .list li a:hover {
  color: #ff8342;
  text-decoration: underline;
}

