@import url('common.css');

/* header style */
header {
  /* 뒤에 이미지 비치게 하려고 투명도 주기 */
 background: rgba(0, 0, 0, 0.2);
 height: 100px;
 line-height: 100px;
 /* 헤더 상단에 위치 고정 시키기 */
 position: fixed;
 top: 0;
 /* 너비 깨지니 100% 주기 */
 width: 100%;
}

header .inner-header {
  /* border: 3px solid red; */
  width: 84%;
  /* 헤더 안에 이너 헤더 마진 주기 */
  margin: 0 auto;
}
header .inner-header .logo {
  /* border: 3px solid violet; */
  float: left;
  /* 로고 너비 줄이기 */
  width: 200px
}
header .inner-header .logo img {
  /* .logo 너비에 img 100% 너비 주기 (딱 맞게) */
  width: 100%;
}


header .inner-header .gnb {
  /* border: 3px solid tomato; */
  float: left;
}
header .inner-header .gnb li {
  /* border: 3px dashed #000; */
  /* 안에 li 왼쪽 수평 배치 시켜주기 */
  float: left;
  margin-right: 80px;
}
header .inner-header .gnb li a {
  /* background: red; */
  /* a 회사소개 등 틀이 작아서 block으로 확보하기 */
  display: block;
  color: white;
  font-size: 16px;
}
header .inner-header .gnb li a:hover {
  color: #ff8342;
}

header .inner-header .tnb {
  /* border: 3px solid navy; */
  /* tnb 오른쪽 수평 배치 시켜주기 */
  float: right;
  color: white;
  font-size: 16px;
}
header .inner-header .tnb li {
  /* tnb 안에 li 왼쪽 수평 배치 시켜주기 */
  float: left;
  margin-right: 25px;
}
/* 위치마다 아이콘 마진과 폰트 크기 주기 */
header .inner-header .tnb li:first-child i,
header .inner-header .tnb li:nth-child(2) i {
  /* border: 3px solid #000; */
  margin-right: 8px;
  font-size: 18px;
}
header .inner-header .tnb li:last-child a {
  border: 1px solid #fff;
  padding: 5px 15px;
  border-radius: 30px;
}
header .inner-header .tnb li:last-child a:hover {
  background: #fff;
  color: #ff8342;
}
header .inner-header .tnb li:last-child i {
  margin-left: 5px;
}


header .inner-header .gnb-mobile {
  display: none;
}